In [5]:
##Q1. What are the characteristics of the tuples? Is tuple immutable?

In [6]:
## Ans- Tuple stored data on round  barket. Data can not be changed. Tuple can be a key in dictionary. 
## It has  only 2 python Method i.e count and index
## Yes, Tuple in immutable

In [7]:
##Q2. What are the two tuple methods in python? Give an example of each method. 
## Give a reason why tuples have only two in-built methods as compared to Lists.

In [9]:
## Ans - Two tuple methos in python.. count and index. 
t1 = (1,2,2,3,3,3,4,5,6)

7

In [15]:
t1.count(3)

3

In [16]:
t1.index(5)

7

In [17]:
## Tuple is immutable, we can not change data in a tuple. Hence other built in methods does not perform in tuple.

In [19]:
##Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
##duplicates from the given list.
## List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [20]:
## Ans - Set datatype does not allow duplicate items.

In [21]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [34]:
s1=set(List)

In [35]:
s1

{1, 2, 3, 4}

In [37]:
##Q4. Explain the difference between the union() and update() methods for a set. Give an example of
##    each method.

In [55]:
## union() combines both elements of set. But values of both sets not changed
## update() - add new elect of the updated set. It removed duplicate element

In [56]:
s1={1,2,3,4}
s2={3,4,5,6}

In [57]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [58]:
s1

{1, 2, 3, 4}

In [59]:
s2

{3, 4, 5, 6}

In [60]:
s1.update(s2)

In [61]:
s1

{1, 2, 3, 4, 5, 6}

In [62]:
s2

{3, 4, 5, 6}

In [63]:
## Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [64]:
## Dictionary is a combination of keys and values. stored data in {} barket. Dictionary is ordered data

In [65]:
d1={'a':1,'b':4,'c':5}

In [66]:
type(d1)

dict

In [67]:
## Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
## nested dictionary.

In [68]:
## Yes, we can create a nested dictionary.
d1={'name':{'Brand':'Nike','Dog':'Tommy','Bird':'Titu'}}

In [70]:
## Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
## the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

In [118]:
dict2 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [119]:
x=dict2.setdefault('Machine Learning','Deep Learning')

In [120]:
print(x)

Deep Learning

In [121]:
dict2

{'language': 'Python',
 'course': 'Data Science Masters',
 'Machine Learning': 'Deep Learning'}

In [84]:
## Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
## these three view objects for the given dictionary.

In [85]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [89]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [90]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [91]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])